@media screen and (max-width: 499px) {
    .header {
        width: 100%;
    }

    .hero {
        position: relative;
        width: 100%;
    }
    
    .hero-image {
        width: 100%;
        height: auto;
    }

    #menu {
        display: block;
        margin-right: 10px;
        margin-top: 40px;
        width: 44px;
        height: 44px;
    }
    
    .nav {
        z-index: 10;
        background-color: #921A40;
        width: 250px;
        position: absolute;
        -webkit-transform: translate(-300px,0);
        transform: translate(-300px,0);

        transition: transform 0.3s ease;
    }

    .open {
       -webkit-transform: translate(0,0);
       transform: translate(0,0); 
    }

    .nav_item {
        display: list-item;
        border-bottom: 1px solid #e0e0e0;
        width: 100%;
        text-align: left;
    }

    .footer {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    .nav {
        width: 100%;
        text-align: center;
    }
    .nav-list {
        width: 100%;
        display: block;
        justify-content: center;
    }
    .nav_item {
        display: inline-block;
    }
}

@media screen and (min-width: 1200px) {
    .nav {
        width: 100%;
    }

    .nav-list {
        width: 100%;
    }

    .hero-image {
        min-width: 1000px;
    }

    .footer {
        width: 100%;
    }
}

